/* -------- nav ----------- */

li, a {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration:none
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  z-index: 29;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-width: 300px;
  max-height: 300px;
}

.nav__link1 {
  list-style: none;
}

.nav__link1 li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__link1 li a {
  transition: all 0.3s ease 0s;
  padding: 8px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__link1 li a:hover {
  color:#ffffff;
  background-color: #000000a6;
}

.menu{
  color:black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.checkbtn{
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}